<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ScottBrady.IdentityModel" version="1.2.0" targetFramework="net40" />
  <package id="PolyfillsForOldDotNet.System.Threading" version="0.1.1" targetFramework="net40" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net40" />
</packages>
